# 依赖包
node_modules/
dist/
# 但排除（即允许上传）扩展目录下的 dist/index.js
!extensions/**/dist/index.js

# 敏感配置文件 
.env
*.env

# Directus 运行时产生的数据 (如果本地测试用的是 SQLite)
database/
uploads/
extensions/**/dist/

# 操作系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log
npm-debug.log*

# 临时文件
.temp/
.cache/